.recipe__ingredients {
}

.recipe__table {
  border: 1px solid $special_dark-grey-2;
}

.recipe__row {

}

.recipe__main-title {

}

.recipe__title {
  border: 1px solid $special_dark-grey-2;
}

.recipe__ingredient-name {
  border: 1px solid $special_dark-grey-2;

}
